.loading{
    /* background-color: #C3BEC1; */
    background-image: linear-gradient(white, #C3BEC1);
    border-radius: 15px;
    border: 2px solid black;
    height: 10rem;
    width: 20rem;
    margin-top: 10rem;
}

.fill{
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 15px;
}

.text{
    position: relative;
    text-align: center;
    line-height: 7rem;
    background-color: white;
    font-weight: 500;
    font-size: 1.25em;
    width: 97%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-radius: 2px;

}

.loading p{
    margin-top: 0%;
}

.spinner {
    position: relative;
    bottom: 10%;
    left: 90%;
}